# Lists

In [27]:
l = [1,2,3,4,5,'Merve',True,5.46,['a','b','c']]
l

[1, 2, 3, 4, 5, 'Merve', True, 5.46, ['a', 'b', 'c']]

In [2]:
len(l)

9

In [3]:
l[0]

1

In [4]:
l[-1]

['a', 'b', 'c']

In [5]:
# upper bound is excluded
l[0:5]

[1, 2, 3, 4, 5]

In [6]:
# it is need to be reassigne to keep reverse list 
l[::-1]

[['a', 'b', 'c'], 5.46, True, 'Merve', 5, 4, 3, 2, 1]

In [7]:
l[2:5:2]

[3, 5]

In [9]:
# no error with upper bound
l[0:122:2]

[1, 3, 5, True, ['a', 'b', 'c']]

In [10]:
l[0:8:-1]

[]

In [11]:
l[:4]

[1, 2, 3, 4]

In [13]:
l + [23,23,23]

[1, 2, 3, 4, 5, 'Merve', True, 5.46, ['a', 'b', 'c'], 23, 23, 23]

In [14]:
l*2

[1,
 2,
 3,
 4,
 5,
 'Merve',
 True,
 5.46,
 ['a', 'b', 'c'],
 1,
 2,
 3,
 4,
 5,
 'Merve',
 True,
 5.46,
 ['a', 'b', 'c']]

In [15]:
2 in l

True

In [16]:
8 in l

False

In [17]:
# because l include str , int , list and ..
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [19]:
# max works with all numeric list
l1=[1,2,3,4,5,6]
max(l1)

6

In [22]:
# max works with all string list based on alphabetical order
l2 = ['Merve','Bayram','Durna']
max(l2)

'Merve'

In [21]:
min(l2)

'Bayram'

In [28]:
l=[1, 2, 3, 4, 5, 'Merve', True, 5.46, ['a', 'b', 'c']]

In [29]:
l.append('Bayram Durna')
l

[1, 2, 3, 4, 5, 'Merve', True, 5.46, ['a', 'b', 'c'], 'Bayram Durna']

In [30]:
l.pop(0)
l

[2, 3, 4, 5, 'Merve', True, 5.46, ['a', 'b', 'c'], 'Bayram Durna']

In [32]:
l.pop(6)

5.46

In [33]:
# if there is no particular index, it will remove the last element 
l.pop()

'Bayram Durna'

In [38]:
# reversefunction reverse the list  permanently
l.reverse()
l

[['a', 'b', 'c'], True, 'Merve', 5, 4, 3, 2]

In [42]:
# slicing reverse operation is not permenant, to make it permanent need to re-assign
l[::-1]
l

[['a', 'b', 'c'], True, 'Merve', 5, 4, 3, 2]

In [40]:
l.sort()

TypeError: '<' not supported between instances of 'bool' and 'list'

In [47]:
l3 = [1,2,5,3,7,2]
l3.sort()
l3

[1, 2, 2, 3, 5, 7]

In [48]:
l3.sort(reverse = True)
l3

[7, 5, 3, 2, 2, 1]

In [49]:
l4 =[[1,2,3],[4,5,6],[7,8,12]]
l4[2]

[7, 8, 12]

In [50]:
l4[2][0:2]

[7, 8]

In [52]:
l4[0][1]

2

In [54]:
l5=[1,2,3,4,5,'merve',[3,4,5],'3.45',True]
l5

[1, 2, 3, 4, 5, 'merve', [3, 4, 5], '3.45', True]

In [55]:
l5.count(3)

1

In [56]:
l

[['a', 'b', 'c'], True, 'Merve', 5, 4, 3, 2]

In [59]:
l.append('Ineuron')
l

[['a', 'b', 'c'], True, 'Merve', 5, 4, 3, 2, 'Ineuron', 'Ineuron']

In [60]:
# extend append a list to list not item itself
l.extend('merve')

In [61]:
l

[['a', 'b', 'c'],
 True,
 'Merve',
 5,
 4,
 3,
 2,
 'Ineuron',
 'Ineuron',
 'm',
 'e',
 'r',
 'v',
 'e']

In [62]:
l.append('test')

In [63]:
l

[['a', 'b', 'c'],
 True,
 'Merve',
 5,
 4,
 3,
 2,
 'Ineuron',
 'Ineuron',
 'm',
 'e',
 'r',
 'v',
 'e',
 'test']

In [64]:
l.extend('test')
l

[['a', 'b', 'c'],
 True,
 'Merve',
 5,
 4,
 3,
 2,
 'Ineuron',
 'Ineuron',
 'm',
 'e',
 'r',
 'v',
 'e',
 'test',
 't',
 'e',
 's',
 't']

In [66]:
# need to extend with iterable object like str , list ,etc
l.extend(45)

TypeError: 'int' object is not iterable

In [67]:
l.extend(['test2'])

In [68]:
l

[['a', 'b', 'c'],
 True,
 'Merve',
 5,
 4,
 3,
 2,
 'Ineuron',
 'Ineuron',
 'm',
 'e',
 'r',
 'v',
 'e',
 'test',
 't',
 'e',
 's',
 't',
 'test2']

In [70]:
# index of particular element
l.index('Merve')

2

In [72]:
l.append('Merve')
l

[['a', 'b', 'c'],
 True,
 'Merve',
 5,
 4,
 3,
 2,
 'Ineuron',
 'Ineuron',
 'm',
 'e',
 'r',
 'v',
 'e',
 'test',
 't',
 'e',
 's',
 't',
 'test2',
 'Merve',
 'Merve']

In [74]:
# If there are many particular variable Index return the first index of them 
l.index('Merve')

2

In [75]:
l7 =[1,2,3,4,5]
l7.insert(1,[1,2,3,4,5])

In [76]:
l7

[1, [1, 2, 3, 4, 5], 2, 3, 4, 5]

In [77]:
# pop remove last element if not passed index parameter
l7.pop()
l7

[1, [1, 2, 3, 4, 5], 2, 3, 4]

In [79]:
# if we give particular index to pop , pop will remove the given index element
l7.pop(1)

[1, 2, 3, 4, 5]

In [81]:
l7

[1, 2, 3, 4]

In [80]:
# remove the elements based on values not index
l7.remove(5)

ValueError: list.remove(x): x not in list

In [82]:
l7.remove(3)

In [83]:
l7

[1, 2, 4]

Note : differences between pop and remove is that; remove function remove the element based on value , pop remove the element based on index

In [90]:
l8 = [0,1,2,3,4,5]
l8[2]='Merve' # item assignment

In [91]:
l8

[0, 1, 'Merve', 3, 4, 5]

In [92]:
# strings are not support item assignment
s = 'Merve'
s[2] = '*'
s

TypeError: 'str' object does not support item assignment

Note : if you can perform item assignment it is mean the element is mutable like list
if not it is immutable like strings.

# Tuples

In [94]:
t = (1,2,3,4,'Merve',True,1==2)
type(t)

tuple

In [95]:
t

(1, 2, 3, 4, 'Merve', True, False)

In [96]:
t[2]

3

In [97]:
t[-1]

False

In [98]:
t[2:6]

(3, 4, 'Merve', True)

same slicing and indexin operation with lists

In [100]:
t[0:5:2]

(1, 3, 'Merve')

In [101]:
t[4]= 'mervebdurna'

TypeError: 'tuple' object does not support item assignment

tuples are immutable we can't perform item asignment

In [102]:
t.count(3)

1

In [103]:
t.index('Merve')

4

In [104]:
t1 = ('bayram','durna')

In [105]:
# immutability is about existing item assignment, so we can add more items to the tuples
t = t+t1

In [106]:
t

(1, 2, 3, 4, 'Merve', True, False, 'bayram', 'durna')

In [108]:
l = list(t)
l

[1, 2, 3, 4, 'Merve', True, False, 'bayram', 'durna']

In [109]:
t2 = tuple(l)
t2

(1, 2, 3, 4, 'Merve', True, False, 'bayram', 'durna')

In [110]:
str(t2)

"(1, 2, 3, 4, 'Merve', True, False, 'bayram', 'durna')"

# Dictionaries

In [111]:
d = {'one':1,'two' : 2, 'three': 3}
d

{'one': 1, 'two': 2, 'three': 3}

In [112]:
d[0]

KeyError: 0

In [113]:
d['one']

1

In [114]:
d['one':'three']

TypeError: unhashable type: 'slice'

In [115]:
type(d)

dict

In [118]:
d1 = {1}
type(d1)

set

In [119]:
d2 = {}
type(d2)

dict

In [123]:
d3 ={'key1' : 1, 'key2':'Python', 'key3': (1,'Python',2,3,4,5)}
d3

{'key1': 1, 'key2': 'Python', 'key3': (1, 'Python', 2, 3, 4, 5)}

In [124]:
'Python' in d3['key3']

True

In [126]:
d4 = {'name' :'mErve', 'surname' : 'bayram', 'name':'Merve'}

In [127]:
d4

{'name': 'Merve', 'surname': 'bayram'}

name takes the last assignment , SO always make sure that your keys are unique. values can be same

In [132]:
# new item creation
d4['test'] = 87

In [133]:
d4

{'name': 'Merve', 'surname': 'bayram', 'test': 87}

In [134]:
# item value changes
d4['test'] = '8787'
d4

{'name': 'Merve', 'surname': 'bayram', 'test': '8787'}

In [136]:
d5 = {2123 : 'xyz'}
d5

{2123: 'xyz'}

In [138]:
d6 = {(1,2,3) : 'xyz'}
d6

{(1, 2, 3): 'xyz'}

In [145]:
# key must be immutable like tuple , str . Can not be a list,set
d7 = {[1,2,3] : 'Merve'}
d7

TypeError: unhashable type: 'list'

In [143]:
d8= {{'2':3} : 'Merve'}
d8

TypeError: unhashable type: 'dict'

In [146]:
d6 + d8

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

dict doesnt have combinatin operation

In [152]:
d3

{'key1': 1, 'key2': 'Python', 'key3': (1, 'Python', 2, 3, 4, 5)}

In [153]:
d3.keys()

dict_keys(['key1', 'key2', 'key3'])

In [154]:
d3.values()

dict_values([1, 'Python', (1, 'Python', 2, 3, 4, 5)])

In [155]:
# return list of tuples
d3.items()

dict_items([('key1', 1), ('key2', 'Python'), ('key3', (1, 'Python', 2, 3, 4, 5))])

# Set

In [156]:
s = {1,2,3,4,5}
type(s)

set

In [158]:
s1={1,2,3,4,5,6,7,8,4,4,5,2}
s1

{1, 2, 3, 4, 5, 6, 7, 8}

Automatically set removed repeated elements in set. Just return uniqe elements

In [161]:
s2 = {123,437,23,4568,348}
s2

{23, 123, 348, 437, 4568}

set seems like automatically sort elements but it is not !!!

In [163]:
s3 = {'merve','bayram','durna'}
s3

{'bayram', 'durna', 'merve'}

In [169]:
s4 ={'merve','bayram','durna',1,2,3,4,2345,5,'6'}

In [170]:
s4

{1, 2, 3, 4, 5, '6', 'bayram', 'durna', 'merve'}

In [171]:
s4[3]

TypeError: 'set' object is not subscriptable

we can't perfom slicing and indexing element on set

In [172]:
list(s3)[2] # after convert list we can perform indexing and slcing

'merve'

In [173]:
tuple(s3)[2] # after convert list we can perform indexing and slcing

'merve'

In [174]:
l = [1,2,3,4,5,5,6,7,7,7,8,8]
#to remove duplicates
list(set(l))

[1, 2, 3, 4, 5, 6, 7, 8]

In [176]:
s3.add(4)
s3

{4, 'bayram', 'durna', 'merve'}

In [178]:
s3.add(4) # it is not add as the set already has 4
s3

{4, 'bayram', 'durna', 'merve'}

In [179]:
s3.add([1,2,3,4])

TypeError: unhashable type: 'list'

In [190]:
s4={(1,2,3,4),5,6,7}
s4

{(1, 2, 3, 4), 5, 6, 7}

In [186]:
s5={[1,2,3,4],5,6,7}
s5
# you can't keep mutable object in the set like list , but you can store tuples

TypeError: unhashable type: 'list'

In [191]:
s4.remove(5)
s4

{(1, 2, 3, 4), 6, 7}

In [192]:
s4.remove(5)

KeyError: 5

In [194]:
s4.discard(5) # remove if exist , if not don't do anything: diff between remove and discard

# Questions
1. l =  [3,4,5,6,7,[23,456,67,8,78,86,56],(345,6657,6),{'key1' : 'sudh',234:[23,45,656]}]
2. try to reverse a list
3. try to access 234 out of this list
4. try to extract only a list collection from list l
5. try to extract 'sudh
6. try to list all the key -dict element available in list
7. try to extract all the value element from dict acvailable in list

In [198]:
#1
l= [3,4,5,6,7,[23,456,67,8,78,86,56],(345,6657,6),{'key1' : 'sudh',234:[23,45,656]}]

In [199]:
#2
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (345, 6657, 6),
 [23, 456, 67, 8, 78, 86, 56],
 7,
 6,
 5,
 4,
 3]

In [202]:
#3
l[-1][234]

[23, 45, 656]

In [206]:
#4
l[5]

[23, 456, 67, 8, 78, 86, 56]

In [207]:
#5
l[-1]['key1']

'sudh'

In [205]:
#6
l[-1].keys()

dict_keys(['key1', 234])

In [208]:
#7
l[-1].values()

dict_values(['sudh', [23, 45, 656]])