In [2]:
# 22 - 28  May Live class notes

In [3]:
l = [1,2,3,4,5,'merve',34.56]
for i in l :
    print(i)

1
2
3
4
5
merve
34.56

In [4]:
for i in l:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [6]:
for i in l :
    if type(i) == int or type(i) == float:
        print(i+1, end='*')
    elif type(i) == str:
        print(i+'1')

2*3*4*5*6*merve1
35.56*

In [7]:
l

[1, 2, 3, 4, 5, 'merve', 34.56]

In [9]:
for i in l : 
    print(i)
else : 
    print('if for loop is going to complete itself than it will execute')

1
2
3
4
5
merve
34.56
if for loop is going to complete itself than it will execute

for else statement available just for Python. And else run when the loop is completed.

In [10]:
for i in l :
    if i == 4:
        break
    print(i)
else : 
    print('if for loop is going to complete itself than it will execute')

1
2
3

In [11]:
m = 'merve'
for i in m :
    if i == 'r':
        break
    print(i)
else : 
    print('print string', m)

m
e

In [17]:
m = 'merve'
for i in m :
    if i == 'M':
        break
    print(i, end = "  ")
else : 
    print('\nprint string', m)

m  e  r  v  e
print string merve

In [18]:
t = (1,2,3,4,5,'merve')
for i in t :
    print(i)

1
2
3
4
5
merve

In [20]:
b = {1,2,3,4,5,6,7,7,7,7,7,'merve'}
type(b)

set

In [21]:
b

{1, 2, 3, 4, 5, 6, 7, 'merve'}

In [22]:
for i in b :
    print(i)

1
2
3
4
5
6
7
merve

In [50]:
d = {'key1' : 'value1','key2' : 'value2','key3' : 'value3'}
type(d)

dict

In [25]:
for i in d:
    print(i)

key1
key2
key3

In [32]:
for i in d:
    print(d[i])

value1
value2
value3

In [26]:
for i in d.values():
    print(i)

value1
value2
value3

In [34]:
for k,v in d.items():
    print((k,v))

('key1', 'value1')
('key2', 'value2')
('key3', 'value3')

In [36]:
for i in 'merve':
    print(i.upper())

M
E
R
V
E

In [40]:
range(8) # range is generator , not return the whole list instead it returns a object and you call it when you need

range(0, 8)

In [42]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [43]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [44]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

In [46]:
for i in range(0,8,3):
    print(i)

0
3
6

In [50]:
list(range(8,0,-1))

[8, 7, 6, 5, 4, 3, 2, 1]

In [51]:
list(range(0,8,-1))

[]

In [64]:
n = 5 # to specified row
for i in range(n):
    for j in range(0,i+1):
        print('merve', end = ' ')
    print('\n')

merve

merve merve

merve merve merve

merve merve merve merve

merve merve merve merve merve

In [65]:
n = 5 # to specified row
for i in range(n):
    for j in range(0,i+1):
        print('merve', end = ' ')
    print('\n')

for i in range(n-1,-1,-1):
    for j in range(0,i+1):
        print('merve', end = ' ')
    print('\n')

merve

merve merve

merve merve merve

merve merve merve merve

merve merve merve merve merve

merve merve merve merve merve

merve merve merve merve

merve merve merve

merve merve

merve

In [28]:
n= 3 
s= 'sudh'
l = len(s) 

for i in range(1,n+1):
    print(' '*l*(n-i),end='')
    for j in range(i):
        print(s, end=' '*l)
    print(' '*l*(n-i))

4
        sudh
    sudh    sudh
sudh    sudh    sudh

In [29]:
t = (2,34,31,2,3,45,3)
t

(2, 34, 31, 2, 3, 45, 3)

In [35]:
# print element ot tuple with indexes
for i in range(len(t)):
        print(i,t[i])

0 2
1 34
2 31
3 2
4 3
5 45
6 3

In [48]:
#  print the indexes of string
s = 'ineuron'
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [51]:
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [52]:
d.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [55]:
for i in d.items():
    print(i, type(i),type(i[1]))

('key1', 'value1') <class 'tuple'> <class 'str'>
('key2', 'value2') <class 'tuple'> <class 'str'>
('key3', 'value3') <class 'tuple'> <class 'str'>

In [60]:
l = ['merve','bayram',3456,45.34,'test',6567,87765,'sudh']
l

['merve', 'bayram', 3456, 45.34, 'test', 6567, 87765, 'sudh']

In [61]:
l_numeric = []
for i in l:
    if type(i) == int or type(i) == float:
        l_numeric.append(i)
    
l_numeric

[3456, 45.34, 6567, 87765]

In [63]:
d  = {'name':'merve' , 1 : 1234, 2:234, 'surname' : 'durna', 3456: 'asd'}

In [64]:
d

{'name': 'merve', 1: 1234, 2: 234, 'surname': 'durna', 3456: 'asd'}

In [65]:
# get the key value whic keys are numeric
for k,v in d.items():
    if type(k) == int :
        print(k,v)

1 1234
2 234
3456 asd

In [69]:
s = 'aabbbcccdddeeeeeeffffgghhhhhh'

In [70]:
# find the #of occurance for each caracter inside the string
for i in set(s):
    print(i,s.count(i))

d 3
e 6
g 2
a 2
h 6
b 3
f 4
c 3

In [72]:
i = 73654554446228844462221
i

73654554446228844462221

In [73]:
for j in str(i):
    print(j)

7
3
6
5
4
5
5
4
4
4
6
2
2
8
8
4
4
4
6
2
2
2
1

In [74]:
t = (1,2,3,'merve',[1,2,3,4],(1,2,3,4),d)
t

(1,
 2,
 3,
 'merve',
 [1, 2, 3, 4],
 (1, 2, 3, 4),
 {'name': 'merve', 1: 1234, 2: 234, 'surname': 'durna', 3456: 'asd'})

In [79]:
# extract 3 items in the tuple
for i in range(len(t)) :
    if type(t[i]) == list or type(t[i]) ==set or type(t[i])==tuple or type(t[i]) ==dict:
        for j in t[i]:
            if j == 3:
                print('3 found')
    elif t[i] == 3 or t[i] =='3':
         print('3 found')

3 found
3 found
3 found

In [80]:
# extract 3 items in the tuple
for i in range(len(t)) :
    if type(t[i]) in [list,set,dict,tuple]:
        for j in t[i]:
            if j == 3:
                print('3 found')
    elif t[i] == 3 or t[i] =='3':
         print('3 found')

3 found
3 found
3 found

In [82]:
for k,v in d.items():
    print(k)
    print(v)

name
merve
1
1234
2
234
surname
durna
3456
asd

In [83]:
a=10
b=20
c=30

a,b,c = 10,20,30

a,b,c = (10,20,30)

# Questions

Q1 :print 

ineuron 

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

Q2: print
              ineuron
       ineuron       ineuron
ineuron       ineuron       ineuron
       ineuron       ineuron
              ineuron

In [110]:
#Q3 :  try to extract all the list entity
l= [[1,2,3,4],(5,6,7,8),(3,4,5,6,7,3,4,5,3), set([1,2,3,4,5,32,46,3,4,6]),{'key1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','datascience']]

In [111]:
for i in l :
    if type(i) == list :
        print(i)

[1, 2, 3, 4]
['ineuron', 'datascience']

In [112]:
#Q4: try to extract all the dict entities
for i in l :
    if type(i) == dict :
        print(i)

{'key1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [113]:
#Q5 : try to extract all the tuple entities
for i in l :
    if type(i) == tuple :
        print(i)

(5, 6, 7, 8)
(3, 4, 5, 6, 7, 3, 4, 5, 3)

In [114]:
#Q6 : try to extract all the numerical data it may be part of dict key or value
num = []
for i in l:
    if type(i) == int:
        num.append(i)
    elif type(i) in [list,set,tuple]:
        for j in i:
            if type(j) == int :
                num.append(j)

In [ ]:
#Q7 : try to give sum of all the numeric data

In [89]:
#Q8 :try to filter all the odd values out of allnumeric values

In [90]:
#Q :try to extract "ineuron" out of this data

In [ ]:
#Q10 : try to extract all numbers occurances in the data

In [ ]:
#Q11 : try to find out number of keys in dict element

In [ ]:
#Q12 : try to filter out all the string data

In [ ]:
#Q13 : try to find out alphanum in data

In [ ]:
#Q14 : try to find out multiplication of all the individual collection inside datasset

In [ ]:
#Q15: try to unwrange al the collection iside collection and create a flat list