# Python Functions

# 29th May Class

In [2]:
# define a function
def test():
    print('this is my first function')

In [3]:
# call the function
test()

this is my first function

In [4]:
# can't work
test() + 'merve'

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [5]:
type(test())

this is my first function

NoneType

Print function return **nonetype** object

In [7]:
str(test()) + 'merve'

this is my first function

'Nonemerve'

In [8]:
def test():
    return 'Merve'

In [9]:
test()

'Merve'

In [10]:
type(test())

str

In [12]:
test() +  ' Bayram Durna'

'Merve Bayram Durna'

In [13]:
def test2():
    pass

test2()

In [17]:
# if you return multiple elements function returns all elemennts in a tuple format
def test3():
    return 1,2,3, {1,2,3,4,5}, 'merve'
test3()

(1, 2, 3, {1, 2, 3, 4, 5}, 'merve')

In [23]:
# multiple variable assignments
a,b,c,d,e = test3()
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
{1, 2, 3, 4, 5}
merve

In [22]:
f = test3()
print(f)

(1, 2, 3, {1, 2, 3, 4, 5}, 'merve')

In [26]:
def test4():
    a = 4*5
    b = 6+4
    return a,b

x,y = test4()
print(x)
print(y)

20
10

In [28]:
z = test4()
z

(20, 10)

In [29]:
_, m= test4()

In [30]:
m

10

In [31]:
#just a place holder just to get 2. item form the func results
_

20

In [35]:
def test5():
    for i in l:
        print(i)

In [36]:
test5()

NameError: name 'l' is not defined

In [39]:
def test5(l):
    for i in l:
        print(i)

In [45]:
# use of function is re usability
l = (1,2,3,4,5,6,7)
l2 = ('m','r','v')
l3 = 'merve'

In [46]:
test5(l)

1
2
3
4
5
6
7

In [47]:
test5(l2)

m
r
v

In [48]:
test5(l3)

m
e
r
v
e

In [53]:
def test6(a,b) :
    while a <= b:
        print('{} is smaller than {}'.format(a,b))
        a=a+2
    else :
        print('this is else statement')

In [54]:
# missed parameters
test6()

TypeError: test6() missing 2 required positional arguments: 'a' and 'b'

In [55]:
test6(2,30)

2 is smaller than 30
4 is smaller than 30
6 is smaller than 30
8 is smaller than 30
10 is smaller than 30
12 is smaller than 30
14 is smaller than 30
16 is smaller than 30
18 is smaller than 30
20 is smaller than 30
22 is smaller than 30
24 is smaller than 30
26 is smaller than 30
28 is smaller than 30
30 is smaller than 30
this is else statement

In [56]:
test6(11,2)

this is else statement

In [57]:
def test6(a,b) :
    while a <= b:
        return '{} is smaller than {}'.format(a,b)
        a=a+2
    else :
        print('this is else statement')

In [60]:
test6(1,20)

'1 is smaller than 20'

In [61]:
def test6(a,b) :
    while a <= b:
        print('{} is smaller than {}'.format(a,b))
        a=a+2
    else :
        print('this is else statement')

In [62]:
test6(1,20)

1 is smaller than 20
3 is smaller than 20
5 is smaller than 20
7 is smaller than 20
9 is smaller than 20
11 is smaller than 20
13 is smaller than 20
15 is smaller than 20
17 is smaller than 20
19 is smaller than 20
this is else statement

after return the loop finished not continue to looping. To get all the values we can create a list

In [64]:
def test6(a,b) :
    l=[]
    while a <= b:
        print('{} is smaller than {}'.format(a,b))
        l.append(a)
        a=a+2
    else :
        print('this is else statement')
    return l

In [65]:
test6(1,20)

1 is smaller than 20
3 is smaller than 20
5 is smaller than 20
7 is smaller than 20
9 is smaller than 20
11 is smaller than 20
13 is smaller than 20
15 is smaller than 20
17 is smaller than 20
19 is smaller than 20
this is else statement

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [68]:
l = [1,2,3,4,(1,2,3,4),'merve']

In [69]:
# func to extract nmeric values

In [71]:
# without function
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

In [72]:
l1

[1, 2, 3, 4]

In [77]:
# with functions , reusable
def extract_integers(l):
    l1 = []
    for i in l:
        if type(i) == int :
            l1.append(i)
    return l1

In [78]:
extract_integers(l)

[1, 2, 3, 4]

In [80]:
l2 = ['merve',123,2,3,{2,3,54},{'k1' : 123}]

In [81]:
extract_integers(l2)

[123, 2, 3]

# 5th June class

In [2]:
def test(a,b) :
    return a+b

In [3]:
test(3,4)

7

In [4]:
test('merve','bayram')

'mervebayram'

In [5]:
test(a='bayram',b='merve')

'bayrammerve'

In [6]:
test(3,4,5,5,7,8)

TypeError: test() takes 2 positional arguments but 3 were given

## *args & *kwargs

In [ ]:
# We can pass any number of parameter by using * args
# Note : 'args' is not a keyword. you can write *merve, *a ets
# *args keep all the input as form of tupple and we czn iter trough it etc

In [ ]:
# *args keep all input in tupple format 
# **kwargs keep allinput in key-value (dict format)

In [11]:
def test2(*args):
    return args

In [12]:
test2(2,3,4,5,2,3,5,7)

(2, 3, 4, 5, 2, 3, 5, 7)

In [13]:
# return the args as a list 
def test3(*args):
    l = []
    for i in args:
        l.append(i)
    return l

In [14]:
test3(2, 3, 4, 5, 2, 3, 5, 7)

[2, 3, 4, 5, 2, 3, 5, 7]

In [15]:
def test4(a,b,c,*d):
    return a,b,c,d

In [16]:
test4(1,2,3,4,5,6,7,8)

(1, 2, 3, (4, 5, 6, 7, 8))

In [18]:
def test5(*a,b,c,d):
    return a,b,c,d

In [20]:
# consider all the value as a and give an error as it cant find b , c and d parameter
test5(1,2,3,4,5,6,7,8)

TypeError: test5() missing 3 required keyword-only arguments: 'b', 'c', and 'd'

In [21]:
test5(1,2,3,4,5,b=6,c=7,d=8)

((1, 2, 3, 4, 5), 6, 7, 8)

In [22]:
def test6(**kwargs):
    return kwargs

In [23]:
test6(a=5,b=4,c=8,d=45)

{'a': 5, 'b': 4, 'c': 8, 'd': 45}

In [24]:
#you cant pass dictionary it self
test6({'a': 5, 'b': 4, 'c': 8, 'd': 45})

TypeError: test6() takes 0 positional arguments but 1 was given

In [25]:
test6(name='Merve',surname='Bayram')

{'name': 'Merve', 'surname': 'Bayram'}

In [26]:
def test7(*m, **s):
    return m,s

In [27]:
test7(1,2,3,4,5,a=6,b=7,c=8)

((1, 2, 3, 4, 5), {'a': 6, 'b': 7, 'c': 8})

## Anonymous(lambda) Funtion

* avoid to use har logic with lambda function

In [29]:
lambda a,b : a+b

In [32]:
# there is no function name we just assign function to a variable
func_variable = lambda a,b : a+b

In [33]:
func_variable(4,5)

9

In [34]:
test(4,5)

9

In [35]:
f1 = lambda *args : args

In [36]:
f(1,2,3,4,5)

(1, 2, 3, 4, 5)

## Comprehension Opperation

In [37]:
t = (1,2,3,4,5,6,7,8)
l= []
for i in t:
    l.append(i)

In [38]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [39]:
[i for i in t]

[1, 2, 3, 4, 5, 6, 7, 8]

In [40]:
[i for i in 'merve']

['m', 'e', 'r', 'v', 'e']

In [41]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
f2 = lambda*x : [i*i for i in x]

In [46]:
f2(2,3,4,5,3,2,3,4,5)

[4, 9, 16, 25, 9, 4, 9, 16, 25]

# Questions

Today Tasks :

        q1 : Try to print a prime number in between 1 to 1000
        
        q2 : Try to write a function which is equivilant to print function in python
        
        q3 : Try write a function which is replica of list append, extend and pop function
        
        q4 : Try to write a lambda functiontion which can return a concatination of all the string that we will pass  
        
        q5 : Try to write lambda function which can return list of square of all the data between 1-1000
        
        q6 : Try to write 10 different lambda function example
        
        q7 : Try to write a function which can perform a read operation from .txt file ??

shivan@ineuron.ai
sudashu@ineuronuron.ai

In [77]:
# q1 : 
def find_prime_numbers(n):
    prime_list = []
    for i in range(1,n+1):
        isPrime = True
        for j in range(2,n-1):
            if i != j and i % j == 0 :
                isPrime = False
                break
        if isPrime == True :
            prime_list.append(i)
    return prime_list
        
find_prime_numbers(1000)

[1,
 2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997]

In [80]:
# q2 :
import sys
def my_print(*args):
    for i in args:
        sys.stdout.write(str(i))
    
my_print('Merve',5,6,8)

Merve568

In [88]:
# q3 : 
def my_append(lst,item):
    return lst + [item] 

my_append([1,2,3],4)

[1, 2, 3, 4]

In [90]:
def my_pop(lst,index):
    return lst[:index] + lst[index+1:]

my_pop([0,1,2,3,4,5],3)

[0, 1, 2, 4, 5]

In [104]:
def my_extend(lst,iterable):
    return lst+list(iterable)

my_extend([1,2,3],(7,8))

[1, 2, 3, 7, 8]

In [105]:
my_extend([1,2,3],{4})

[1, 2, 3, 4]

In [107]:
my_append([1,2,3],{4})

[1, 2, 3, {4}]

In [119]:
# q4 :it can just work with string parameters

x = lambda *kwargs : [''.join(kwargs)]
x('merve','2','3')

['merve23']

In [126]:
# q4: it can works with int as well

x = lambda *kwargs : ''.join(str(i) for i in kwargs)
x('merve',2,'3')

'merve23'

In [124]:
# q5 :

y = lambda n : [ i ** 2 for i in range(1,n+1)]

y(1000)

In [127]:
# q6 : 10 lambda functions

#1 
x1 = lambda text : str(text).replace('a','A')
x1()