In [3]:
# Questions

#Q1 :print 
#ineuron 
#ineuron ineuron
#ineuron ineuron ineuron
#ineuron ineuron ineuron ineuron

#Q2: print
#              ineuron
#       ineuron       ineuron
#ineuron       ineuron       ineuron
#       ineuron       ineuron
#              ineuron       

#l= [[1,2,3,4],(5,6,7,8),(3,4,5,6,7,3,4,5,3), set([1,2,3,4,5,32,46,3,4,6]),{'key1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','datascience']]

#Q3 :  try to extract all the list entity

#Q4: try to extract all the dict entities

#Q5 : try to extract all the tuple entities

#Q6 : try to extract all the numerical data it may be part of dict key or value

#Q7 : try to give sum of all the numeric data

#Q8 :try to filter all the odd values out of all numeric values

#Q :try to extract "ineuron" out of this data

#Q10 : try to extract all numbers occurances in the data

#Q11 : try to find out number of keys in dict element

#Q12 : try to filter out all the string data

#Q13 : try to find out alphanum in data

#Q14 : try to find out multiplication of all the individual collection inside datasset 

#Q15: try to unwrange al the collection inside collection and create a flat list

In [1]:
#Q1 print pattern

text = 'ineuron'
row = 5
for i in range(1,row+1):
    print((text+' ')*i)

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron

In [13]:
#Q2 print pattern
text = 'ineuron'
row = 5
for i in range(row+1):
    if i <= (row+1)/2:
        n = i 
    else :
        n = row+1-i
    print(((text+' ')*n).center(50,' '))

                     ineuron
                 ineuron ineuron
             ineuron ineuron ineuron
                 ineuron ineuron
                     ineuron

In [4]:
#Q3 :  try to extract all the list entity
l= [[1,2,3,4],(5,6,7,8),(3,4,5,6,7,3,4,5,3), set([1,2,3,4,5,32,46,3,4,6]),{'key1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','datascience']]

In [5]:
for i in l :
    if type(i) == list :
        print(i)

[1, 2, 3, 4]
['ineuron', 'datascience']

In [6]:
#Q4: try to extract all the dict entities
for i in l :
    if type(i) == dict :
        print(i)

{'key1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [7]:
#Q5 : try to extract all the tuple entities
for i in l :
    if type(i) == tuple :
        print(i)

(5, 6, 7, 8)
(3, 4, 5, 6, 7, 3, 4, 5, 3)

In [8]:
#Q6 : try to extract all the numerical data it may be part of dict key or value
num = []
for i in l:
    if type(i) == int:
        num.append(i)
    elif type(i) in [list,set,tuple]:
        for j in i:
            if type(j) == int :
                num.append(j)
    elif type(i) is dict:
        for k,v in i .items():
            if type(k) == int:
                num.append(k)
            if type(v) == int :
                num.append(v)

print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 3, 4, 5, 6, 7, 3, 4, 5, 3, 32, 1, 2, 3, 4, 5, 6, 46, 3, 6, 7, 8]

In [9]:
#Q7 : try to give sum of all the numeric data
sum(num)

199

In [10]:
#Q8 :try to filter all the odd values out of all numeric values
odd_num = []
for i in num :
    if i%2 != 0: 
        odd_num.append(i)
    
odd_num

[1, 3, 5, 7, 3, 5, 7, 3, 5, 3, 1, 3, 5, 3, 7]

In [11]:
#Q :try to extract "ineuron" out of this data
l[4]['k2']

'ineuron'

In [12]:
l

[[1, 2, 3, 4],
 (5, 6, 7, 8),
 (3, 4, 5, 6, 7, 3, 4, 5, 3),
 {1, 2, 3, 4, 5, 6, 32, 46},
 {'key1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'datascience']]

In [13]:
#Q10 : try to extract all numbers occurances in the data
num_occ ={}
for i in set(num):
    num_occ[i] = num.count(i)
num_occ

{32: 1, 1: 2, 2: 2, 3: 6, 4: 4, 5: 4, 6: 4, 7: 3, 8: 2, 46: 1}

In [14]:
#Q11 : try to find out number of keys in dict element
len(l[4])

5

In [15]:
#Q12 : try to filter out all the string data
strings =[]
for i in l:
    if type(i) == str:
        strings.append(i)
    elif type(i) in [list,set,tuple]:
        for j in i:
            if type(j) == str :
                strings.append(j)
    elif type(i) is dict:
        for k,v in i .items():
            if type(k) == str:
                strings.append(k)
            if type(v) == str :
                strings.append(v)

strings

['key1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'datascience']

In [16]:
#Q13 : try to find out alphanum in data
for i in strings:
    if i.isalnum():
        print(i)

key1
sudh
k2
ineuron
k3
kumar
ineuron
datascience

In [17]:
#Q14 : try to find out multiplication of all the individual collection inside datasset 
for i in l :
    if type(i) in [set,tuple,list]:
        mul = 1
        for j in i :
            if type(j) is int:
                mul = mul*j
        print(i,mul)

[1, 2, 3, 4] 24
(5, 6, 7, 8) 1680
(3, 4, 5, 6, 7, 3, 4, 5, 3) 453600
{32, 1, 2, 3, 4, 5, 6, 46} 1059840
['ineuron', 'datascience'] 1

In [18]:
#Q15: try to unwrange al the collection inside collection and create a flat list

In [19]:
l= [[1,2,3,4],(5,6,7,8),(3,4,5,6,7,3,4,5,3), set([1,2,3,4,5,32,46,3,4,6]),{'key1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8},['ineuron','datascience']]
l

[[1, 2, 3, 4],
 (5, 6, 7, 8),
 (3, 4, 5, 6, 7, 3, 4, 5, 3),
 {1, 2, 3, 4, 5, 6, 32, 46},
 {'key1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'datascience']]

In [20]:
l2=[]
for i in l :
    if type(i) in [list,set,tuple]:
        for j in i :
            l2.append(j)
    elif type(i) is dict :
        for k,v in i.items():
            l2 = l2 + [k,v]
     
l2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 3,
 4,
 5,
 6,
 7,
 3,
 4,
 5,
 3,
 32,
 1,
 2,
 3,
 4,
 5,
 6,
 46,
 'key1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'datascience']